vendor/
node_modules/
database/database.sqlite
.env
.tags1
composer.phar
composer.lock
npm-debug.log*
.idea
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
!public/synthesis-uploads/.gitkeep
!public/synthesis-uploads/.htaccess
public/css
public/fonts
public/js
public/synthesis-uploads
public/tmp
public/trumbowyg
public/favicon.ico
public/mix-manifest.json