vendor/
node_modules/
database/database.sqlite
.env
package-lock.json
composer.phar
composer.lock
npm-debug.log*
.idea
.phpstorm.meta.php
_ide_helper.php
docs/
storage/app/public-uploads/
storage/app/public
resources/assets/trumbowyg/ui/icons.svg
