/**
* 1. Miscellanous
**/
.text-center {
  text-align: center;
}

/**
* 2. Dropdowns
**/

.caret{
	color: white !important;
}

.select-dropdown{
	border-bottom-color: white !important;
}

.select-wrapper{
	margin-top: 5px !important;
}
