/**
* 0. Variables
 */
$mainSynthesisColor: #26a69a;

/**
* 1. Miscellanous
**/
.text-center {
  text-align: center;
}

.material-icons {
  vertical-align: middle;
}

/**
* 2. Dropdowns
**/

#language-select-container .select-wrapper,
#language-select-container input.select-dropdown {
  border-bottom-color: white !important;
  color: white !important;
}

#language-select-container .caret {
  fill: white !important;
}

.select-wrapper {
  margin-top: 5px !important;
}

/**
* 3. Links
 */

.synthesis-cool-link:hover::after {
  width: 100%;
}

.synthesis-cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: $mainSynthesisColor;
  transition: width 0.3s;
}

.synthesis-cool-image {
  width: 300px;
  margin: 0 auto;
  padding: 0px;
  background-color: #eaab00; // gold, because the images below are 1-pixel gold bitmaps
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="),
    url("data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="),
    url("data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==");
  background-repeat: no-repeat;
  background-position: top center, top center, bottom center;
  animation: synthesisCoolImageDrawBorderFromCenter2 2s;
}

.synthesis-cool-image:hover {
  padding: 2px;
  background-repeat: no-repeat;
  background-position: top center, top center, bottom center;
  transition: padding linear 1.2s;
  animation: synthesisCoolImageDrawBorderFromCenter 2s;
}

.synthesis-cool-image.active {
  padding: 0px !important;
  background-size: 0% !important;
  animation: unset !important;
}

.synthesis-cool-image.active:hover {
  padding: 0px !important;
  background-size: 0% !important;
  animation: unset !important;
}

@keyframes synthesisCoolImageDrawBorderFromCenter {
  0% {
    padding: 2px;
    background-size: 0 2px, 0 0, 100% 100%;
  }
  20% {
    padding: 2px;
    background-size: 100% 2px, 100% 0, 100% 100%;
  }
  66% {
    padding: 2px;
    background-size: 100% 2px, 100% 98%, 100% 100%;
  }
  99% {
    padding: 2px;
    background-size: 100% 2px, 100% 98%, 0 2px;
  }
}

@keyframes synthesisCoolImageDrawBorderFromCenter2 {
  0% {
    padding: 2px;
    background-size: 100% 2px, 100% 98%, 0 2px;
  }
  20% {
    padding: 2px;
    background-size: 100% 2px, 100% 98%, 100% 100%;
  }
  66% {
    padding: 2px;
    background-size: 100% 2px, 100% 0, 100% 100%;
  }
  99% {
    padding: 2px;
    background-size: 0 2px, 0 0, 100% 100%;
  }
}
